---
import ProseLayout from "../../layouts/ProseLayout.astro";
import { htmlToText } from "html-to-text";
import { posts } from "../../data/posts";

export async function getStaticPaths({ paginate }) {
    return posts.map((post, id) => {
        return {
            params: { slug: post.slug },
            props: {
                post,
                previousPost:
                    id > 0
                        ? {
                              title: posts[id - 1].title,
                              slug: posts[id - 1].slug,
                          }
                        : null,
                nextPost:
                    id + 1 < posts.length
                        ? {
                              title: posts[id + 1].title,
                              slug: posts[id + 1].slug,
                          }
                        : null,
            },
        };
    });
}

const { post, previousPost, nextPost } = Astro.props;
---

<ProseLayout 
    title={post.title}
    description={htmlToText(post.excerpt)}
    ogType="article"
    ogImage={post.featuredImage.sourceUrl}
    ogImageAlt={post.featuredImage.altText ?? post.featuredImage.title}
>
    <div class="h-96 bg-white">
        <img
            class="m-auto h-full w-auto object-contain"
            src={post.featuredImage.sourceUrl}
            alt={post.featuredImage.altText ?? post.featuredImage.title}
        />
    </div>
    <div set:html={post.content}></div>
</ProseLayout>
