---
import GameCard from "@components/GameCard.astro";
import GamesSearchbar from "@components/GamesSearchbar.astro";
import Pagination from "@components/Pagination.astro";
import WishList from "@components/vue/WishList.vue";
import Config from "@config/general.json";
import { games } from "@data/gamesCatalog";
import Layout from "@layouts/Layout.astro";
import type { NormalizedGame } from "@src/types";
import type { GetStaticPathsOptions, Page } from "astro";

interface Props {
  page: Page<NormalizedGame>;
}

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  return paginate(games, { pageSize: Config.igdb.gamesPerPage });
}
const { page } = Astro.props;
---

<Layout
  title={`Catalogo Nintendo Switch 2 - Pagina ${page.currentPage}`}
  description="Catalogo con le informazioni messe a disposizione da IGDB.com sui giochi per Nintendo Switch 2 rilasciati nell'ultimo anno"
  noindex={page.currentPage != 1}
>
  <div class="container w-full max-w-5xl px-5 md:mx-auto">
    <h1 class="pt-12 text-center text-4xl font-bold">
      Catalogo Nintendo Switch
    </h1>

    <div class="mt-4 text-center text-2xl font-semibold">
      Pagina {page.currentPage}
    </div>

    <div class="my-12 w-full">
      <GamesSearchbar />
    </div>

    <WishList client:only="vue" />

    {
      page.data.length > 0 && (
        <>
          <div class="divider" />

          <div class="mx-auto mt-12 grid h-max place-items-center gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3">
            {page.data.map((game) => (
              <GameCard game={game} />
            ))}
          </div>

          <div class="divider" />

          <div class="mx-auto mb-6 flex justify-center">
            <button id="random-page-button" class="btn btn-accent uppercase">
              Pagina a caso
            </button>
          </div>

          <div class="mx-auto flex justify-center">
            <Pagination
              currentPage={page.currentPage}
              lastPage={page.lastPage}
              url="/nintendo-switch"
            />
          </div>
        </>
      )
    }
  </div>
</Layout>

<script>
  import Swiper from "swiper";
  import { Navigation, Pagination } from "swiper/modules";
  new Swiper(".swiper", {
    modules: [Navigation, Pagination],
    loop: true,
    pagination: {
      el: ".swiper-pagination",
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>

<script is:inline define:vars={{ lastPage: page.lastPage }}>
  const randomPageButton = document.getElementById("random-page-button");
  randomPageButton.onclick = () => {
    window.location.href =
      "/nintendo-switch/" + Math.ceil(Math.random() * lastPage);
  };
</script>
