---
import Layout from "@layouts/Layout.astro";
import { games } from "@data/gamesCatalog";
import GamesSearchbar from "@components/GamesSearchbar.astro";
import Config from "@config/general.json";
import Pagination from "@components/Pagination.astro";
import WishList from "@components/vue/WishList.vue";
import GameCard from "@components/GameCard.astro";

export async function getStaticPaths({ paginate }) {
  const normalizedGames = games.map((game) => {
    return {
      slug: game.slug,
      name: game.name,
      cover: {
        url: game.cover?.url?.replace("t_thumb", "t_cover_big"),
        thumb: game.cover?.url,
      },
      screenshots: game.screenshots?.map((screenshot) => ({
        url: screenshot.url.replace("t_thumb", "t_screenshot_big"),
      })),
      artworks: game.artworks?.map((artwork) => ({
        url: artwork.url.replace("t_thumb", "t_screenshot_big"),
      })),
      url: game.url,
      platforms: game.platforms?.map((platform) => ({
        id: platform.id,
        name: platform.name,
      })),
      totalRating: game.total_rating,
      firstReleaseDate: game.first_release_date,
      summary: game.summary,
      genres: game.genres?.map((genre) => ({
        id: genre.id,
        name: genre.name,
      })),
      themes: game.themes?.map((theme) => ({
        id: theme.id,
        name: theme.name,
      })),
      involvedCompanies: game.involved_companies?.map((company) => ({
        id: company.id,
        name: company.name,
        logo: company.logo,
        websites: company.websites?.map((website) =>
          website.url.startsWith("http") ? website.url : `//${website.url}`
        ),
      })),
    };
  });
  return paginate(normalizedGames, { pageSize: Config.igdb.gamesPerPage });
}
const { page } = Astro.props;
---

<Layout
  title={`Catalogo Nintendo Switch 2 - Pagina ${page.currentPage}`}
  description="Catalogo con le informazioni messe a disposizione da IGDB.com sui giochi per Nintendo Switch 2 rilasciati nell'ultimo anno"
  noindex={page.currentPage != 1}
>
  <div class="container w-full max-w-5xl px-5 md:mx-auto">
    <h1 class="pt-12 text-center text-4xl font-bold">
      Catalogo Nintendo Switch
    </h1>

    <div class="mt-4 text-center text-2xl font-semibold">
      Pagina {page.currentPage}
    </div>

    <div class="my-12 w-full">
      <GamesSearchbar />
    </div>

    <WishList client:only="vue" />

    {
      page.data.length > 0 && (
        <>
          <div class="divider" />

          <div class="mx-auto mt-12 grid h-max place-items-center gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3">
            {page.data.map((game) => (
              <GameCard game={game} />
            ))}
          </div>

          <div class="divider" />

          <div class="mx-auto mb-6 flex justify-center">
            <button id="random-page-button" class="btn btn-accent uppercase">
              Pagina a caso
            </button>
          </div>

          <div class="mx-auto flex justify-center">
            <Pagination
              currentPage={page.currentPage}
              lastPage={page.lastPage}
              url="/nintendo-switch"
            />
          </div>
        </>
      )
    }
  </div>
</Layout>

<script>
  import Swiper from "swiper";
  import { Navigation, Pagination } from "swiper/modules";
  new Swiper(".swiper", {
    modules: [Navigation, Pagination],
    loop: true,
    pagination: {
      el: ".swiper-pagination",
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>

<script define:vars={{ lastPage: page.lastPage }}>
  const randomPageButton = document.getElementById("random-page-button");
  randomPageButton.onclick = () => {
    window.location.href =
      "/nintendo-switch/" + Math.ceil(Math.random() * lastPage);
  };
</script>
