---
import Layout from "@layouts/Layout.astro";
import { posts } from "@data/posts";
import { formatDate } from "@lib/utils";

const title = "Blog";
---

<Layout title={title}>
  <div class="container w-full max-w-5xl px-5 md:mx-auto">
    <h1 class="py-12 text-4xl font-bold">{title}</h1>

    <div class="grid md:grid-cols-2">
      {
        posts.map((post) => (
          <a
            href={`/blog/${post.slug}`}
            class="group text-neutral-content relative block overflow-hidden"
          >
            <div class="from-neutral absolute inset-0 z-10 bg-linear-to-t transition duration-500" />
            <img
              class="z-0 h-64 w-full object-cover transition duration-500 group-hover:scale-105"
              src={post.featuredImage.sourceUrl}
              alt={post.title}
            />
            <div class="absolute inset-x-4 bottom-4 z-20">
              <h2 class="text-xl font-bold">{post.title}</h2>
              <div class="hidden text-sm">{formatDate(post.date, "short")}</div>
              <div class="hidden max-w-md" set:html={post.excerpt} />
            </div>
          </a>
        ))
      }
    </div>
  </div>
</Layout>
