---
import Layout from "@layouts/Layout.astro";
import { episodes } from "@data/medabots";

import { Image } from "astro:assets";

const title = "Medabots - Tutti gli Episodi";
---

<Layout
  title={title}
  description="Tutti gli episodi di Medabots, uno dei primi anime trasmessi su Rai2 nel 2001 che racconta delle avventure di Ikki e Metabee"
  ogImage="/images/medabotspreview.jpg"
  ogImageAlt="Medabots - Ikki e Metabee"
>
  <div class="container w-full max-w-5xl px-5 md:mx-auto">
    <h1 class="py-12 text-center text-4xl font-bold">{title}</h1>

    <div class="">
      <table class="mx-auto w-full max-w-2xl table-auto">
        <thead class="bg-neutral text-neutral-content">
          <tr>
            <th class="">Episodio</th>
            <th class="sr-only hidden sm:block">Preview</th>
            <th class="">Titolo</th>
            <th class="sr-only">Link</th>
          </tr>
        </thead>
        <tbody>
          {
            episodes.map((episode) => (
              <tr class="h-16 min-h-full even:bg-base-200">
                <td class="px-2 text-center font-bold">{episode.number}</td>
                <td class="hidden px-2 text-center font-bold sm:block">
                  <a href={`/medabots/${episode.season}/${episode.number}`}>
                    <Image
                      class="aspect-square h-20"
                      height="80"
                      width="80"
                      alt={`Medabots - ${episode.title}`}
                      src={`https://img.youtube.com/vi/${episode.video_id}/0.jpg`}
                    />
                  </a>
                </td>
                <td class="px-2 font-semibold italic">"{episode.title}"</td>
                <td>
                  <a
                    class="link link-primary px-2"
                    href={`/medabots/${episode.season}/${episode.number}`}
                  >
                    Guarda
                  </a>
                </td>
              </tr>
            ))
          }
        </tbody>
      </table>
    </div>
  </div>
</Layout>

<script is:inline>
  const setAlert = () => {
    let episode = null;
    if (netlifyIdentity.currentUser()) {
      episode = netlifyIdentity.currentUser().user_metadata.keepwatching;
      if (episode)
        localStorage.setItem("keepwatching", JSON.stringify(episode));
    } else {
      episode = localStorage.getItem("keepwatching");
      if (episode) episode = JSON.parse(episode);
    }
    if (episode) {
      const title = "Continua da dove sei rimasto";
      const message = `Episodio ${episode.number} "${episode.title}" <a class="underline" href="/medabots/${episode.season}/${episode.number}">Vai</a>`;
      window.notify(message, title, "accent");
    }
  };

  document.addEventListener("userLoaded", (e) => {
    setAlert();
  });
  document.addEventListener("notLogged", (e) => {
    setAlert();
  });
</script>
