---
import Layout from "@layouts/Layout.astro";
import bgImage from "@assets/images/pixelshop.png";
import Image from "astro/components/Image.astro";
import Config from "../site_config.json";

const title =
    "Fai crescere la tua attività online con un sito web personalizzato";
const description =
    "Fai crescere la tua attività online con un sito web personalizzato. Scegli il pacchetto su misura per te e scopri i servizi base inclusi.";

---

<Layout title={title} description={description}>
    <div class="px-5 md:mx-auto container w-full max-w-5xl">
        <div class="pb-96 lg:pb-32">
            <div class="relative">
                <div class="ml-10 max-w-xl my-10">
                    <h1 class="py-12 text-5xl font-bold">{title}</h1>
                    <h2 class="text-2xl max-w-sm">
                        Scegli il pacchetto di sviluppo web su misura per te e
                        scopri i servizi base inclusi<h2></h2>
                    </h2>
                </div>

                <div class="absolute -z-10 -right-0 -bottom-full lg:-bottom-16">
                    <div class="relative">
                        <div
                            class="absolute opacity-60 animate-pulse inset-0 -z-10 bg-gradient-to-br from-primary to-secondary blur-3xl"
                        >
                        </div>
                        <Image src={bgImage} alt={title} />
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-12">
            <h2 class="text-2xl my-12 uppercase font-bold">
                Tutto ciò di cui hai bisogno per una presenza online solida e professionale
            </h2>

            <div class="join join-vertical w-full">
            {
                Config.features.map( (service,i) => (
                    <div class="join-item collapse collapse-plus bg-base-200">
                        <input type="radio" name="base-services"/>
                        <div class="collapse-title text-xl font-bold">
                            {service.title}
                        </div>
                        <div class="collapse-content">
                            <div class="py-4">
                                <p>{service.description}</p>
                            </div>
                        </div>
                    </div>
                ))
            }
            </div>
        </div>
    </div>
</Layout>
