---
import GeneralConfig from "@config/general.json";
import FreelanceConfig from "@config/freelance.json";
import IubendaPolicy from "@components/IubendaPolicy.astro";
import IubendaLogo from "@assets/images/iubenda-logo.png";
import AmazonPrimeLogo from "@assets/images/amazon-prime-logo.png";

import mascotte from "@assets/images/mascotte.svg";
import { Image } from "astro:assets";
import Biography from "@components/Biography.astro";
import LatestPosts from "@components/LatestPosts.astro";
import ScreenSize from "@components/ScreenSize.astro";
import NetlifyStatus from "@components/NetlifyStatus.astro";

const { IUBENDA_POLICY_ID } = import.meta.env;
---

<footer class="footer footer-center bg-base-200 pb-24 pt-10">
  <div class="grid items-start gap-20 px-10 py-20 lg:grid-cols-3">
    <div class="mb-20 lg:col-span-2 lg:mb-0">
      <LatestPosts />
    </div>
    <Biography />
  </div>
  <div class="pb-12"><ScreenSize /></div>
  <div class="collapse collapse-plus max-w-2xl cursor-pointer">
    <input type="checkbox" />
    <div class="collapse-title text-left font-semibold">Referral</div>
    <div
      class="collapse-content flex flex-col items-center justify-center space-y-2 sm:flex-row sm:space-x-2 sm:space-y-0"
    >
      <a
        href="https://www.digitalocean.com/?refcode=4c50de6f8f9f&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge"
        target="_blank"
      >
        <Image
          class="h-16 w-52 rounded bg-white object-contain"
          src="https://web-platforms.sfo2.digitaloceanspaces.com/WWW/Badge%202.svg"
          alt="DigitalOcean Referral Badge"
          height="64"
          width="208"
        />
      </a>
      <a href="http://iubenda.refr.cc/talale93" target="_blank">
        <Image
          class="h-16 w-52 rounded bg-white object-contain"
          src={IubendaLogo}
          alt="Iubenda Referral Badge"
        />
      </a>
      <a
        href="https://www.amazon.it/provaprime?tag=gz-blog-21&ascsubtag=0-f-n-av_talale"
        target="_blank"
      >
        <Image
          class="h-16 w-52 rounded bg-white object-contain"
          src={AmazonPrimeLogo}
          alt="Prova Amazon Prime"
        />
      </a>
    </div>
  </div>
  <div class="grid grid-flow-col gap-4">
    {
      !IUBENDA_POLICY_ID && (
        <a href="/privacy-policy.html" target="_blank">
          Privacy Policy Custom
        </a>
      )
    }
    {IUBENDA_POLICY_ID && <IubendaPolicy policyId={IUBENDA_POLICY_ID} />}
    <a href="/rss.xml"
      ><Image
        height="24"
        width="24"
        src="/images/icons/rss.svg"
        class="h-6"
        alt="rss"
      /></a
    >
  </div>
  <div class="grid-flow-col items-center">
    <div class="-mt-1 mr-1 inline-block h-6 w-8 overflow-hidden">
      <Image
        class="h-14 w-8 object-cover object-left"
        src={mascotte}
        alt={`${GeneralConfig.title} | ${GeneralConfig.subtitle}`}
      />
    </div>
    <div class="flex flex-col space-x-2 font-bold md:flex-row">
      <div class="">{GeneralConfig.title}</div><span class="hidden md:inline">
        |
      </span><div class="">{GeneralConfig.subtitle}</div><span
        class="hidden md:inline"
      >
        |
      </span><div class="">P.IVA {FreelanceConfig.piva}</div>
    </div>
  </div>
  <div>
    <NetlifyStatus />
  </div>
</footer>
