---
import Config from "../site_config.json";
import IubendaPolicy from "./IubendaPolicy.astro";
import IubendaLogo from "@assets/images/iubenda-logo.png";
import AmazonPrimeLogo from "@assets/images/amazon-prime-logo.png";

import mascotte from "@assets/images/mascotte.svg";

const curYear = new Date().getFullYear();

const { COOKIEBOT_ID, IUBENDA_POLICY_ID } = import.meta.env;
---

<footer class="footer footer-center p-10 mb-12">
    <div class="grid grid-flow-col gap-4">
        {
            (!COOKIEBOT_ID && !IUBENDA_POLICY_ID) && (
                <a href="/privacy-policy.html" target="_blank">Privacy Policy Custom</a>
            )
        }
        {
			COOKIEBOT_ID && (
                <a href="/cookie-policy.html" target="_blank">Cookie Policy</a>
                <a href="javascript: Cookiebot.renew()">Impostazioni Cookie</a>
            )
        }
        {
            IUBENDA_POLICY_ID && (
                <IubendaPolicy
                    policyId={IUBENDA_POLICY_ID}
                />
            )
        }
    </div>
    <div class="collapse collapse-plus cursor-pointer">
        <input type="checkbox" /> 
        <div class="collapse-title text-left font-semibold">Referral</div>
        <div class="collapse-content flex flex-col sm:flex-row justify-center items-center space-y-2 sm:space-y-0 sm:space-x-2"
        >
            <a
                href="https://www.digitalocean.com/?refcode=4c50de6f8f9f&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge"
                target="_blank"
            >
                <img class="w-52 h-16 object-contain bg-white rounded"
                    src="https://web-platforms.sfo2.digitaloceanspaces.com/WWW/Badge%202.svg"
                    alt="DigitalOcean Referral Badge"
                />
            </a>
            <a
                href="http://iubenda.refr.cc/talale93"
                target="_blank"
            >
                <img class="w-52 h-16 object-contain bg-white rounded"
                    src={IubendaLogo}
                    alt="Iubenda Referral Badge"
                />
            </a>
            <a
                href="https://www.amazon.it/provaprime?tag=gz-blog-21&ascsubtag=0-f-n-av_talale"
                target="_blank"
            >
                <img class="w-52 h-16 object-contain bg-white rounded"
                    src={AmazonPrimeLogo}
                    alt="Prova Amazon Prime"
                />
            </a>
        </div>
    </div>
    <div class="items-center grid-flow-col">
        <img src={mascotte} class="h-8 w-8 object-cover object-left inline-block" />
        <p class="font-bold"> 
            {Config.title} | {Config.subtitle}
        </p>
        <p>Copyright © {curYear} - tutti i diritti riservati</p>
    </div>
</footer>
