---
import GeneralConfig from "@config/general.json";
import FreelanceConfig from "@config/freelance.json";
import IubendaPolicy from "@components/IubendaPolicy.astro";

import mascotte from "@assets/images/mascotte.svg";
import { Image } from "astro:assets";
import Biography from "@components/Biography.astro";
import LatestPosts from "@components/LatestPosts.astro";
import ScreenSize from "@components/ScreenSize.astro";
import NetlifyStatus from "@components/NetlifyStatus.astro";
import Referrals from "@components/Referrals.astro";

const { IUBENDA_POLICY_ID } = import.meta.env;
---

<footer class="footer footer-horizontal footer-center bg-base-200 pt-10 pb-24">
  <div class="grid items-start gap-20 px-10 py-20 lg:grid-cols-3">
    <div class="mb-20 lg:col-span-2 lg:mb-0">
      <LatestPosts />
    </div>
    <Biography />
  </div>
  <div class="w-full max-w-2xl px-10 pb-12">
    <Referrals />
  </div>
  <div class="grid grid-flow-col gap-4">
    {IUBENDA_POLICY_ID && <IubendaPolicy policyId={IUBENDA_POLICY_ID} />}
    <a href="/rss.xml"
      ><Image
        height="24"
        width="24"
        src="/images/icons/rss.svg"
        class="h-6"
        alt="rss"
      /></a
    >
  </div>
  <div class="grid-flow-col items-center">
    <div class="-mt-1 mr-1 inline-block h-6 w-8 overflow-hidden">
      <Image
        class="h-14 w-8 object-cover object-left"
        src={mascotte}
        alt={`${GeneralConfig.title} | ${GeneralConfig.subtitle}`}
      />
    </div>
    <div class="flex flex-col space-x-2 font-bold md:flex-row">
      <div class="">{GeneralConfig.title}</div><span class="hidden md:inline">
        |
      </span><div class="">{GeneralConfig.subtitle}</div><span
        class="hidden md:inline"
      >
        |
      </span><div class="">P.IVA {FreelanceConfig.piva}</div>
    </div>
  </div>
  <div class=""><ScreenSize /></div>
  <div>
    <NetlifyStatus />
  </div>
</footer>
