---
import { formatDate } from "@lib/utils";
import AddToWishlist from "@components/vue/AddToWishlist.vue";

const { game } = Astro.props;
---

<div class="card card-sm bg-base-100 h-full w-full shadow-xl" id={game.slug}>
  {
    (game.cover?.url || game.screenshots) && (
      <figure>
        <div class="swiper h-48 max-w-xs md:w-full">
          <div class="swiper-wrapper">
            {game.cover && (
              <div class="swiper-slide bg-neutral">
                <img
                  height="192"
                  width="320"
                  class="mx-auto h-full object-cover"
                  src={game.cover.url}
                  alt={game.name}
                  loading="lazy"
                />
              </div>
            )}
            {game.artworks?.length &&
              game.artworks.map((artwork, id) => (
                <div class="swiper-slide">
                  <img
                    height="192"
                    width="320"
                    class="w-full object-cover"
                    src={artwork.url}
                    alt={`Artwork ${id + 1}`}
                    loading="lazy"
                  />
                </div>
              ))}
            {game.screenshots &&
              game.screenshots.map((screenshot, id) => (
                <div class="swiper-slide">
                  <img
                    height="192"
                    width="320"
                    class="w-full object-cover"
                    src={screenshot.url}
                    alt={`Screenshot ${id + 1}`}
                    loading="lazy"
                  />
                </div>
              ))}
          </div>
          <div class="swiper-pagination" />
          <div class="swiper-button-prev" />
          <div class="swiper-button-next" />
        </div>
      </figure>
    )
  }
  <div class="card-body mx-auto max-w-xs md:w-full">
    <h2 class="card-title text-base">
      {
        game.url && (
          <a href={game.url} class="link" target="_blank" rel="noreferrer">
            {game.name}
            <span>
              {game.platforms?.length == 1 && (
                <div class="badge badge-accent badge-xs">Exclusive</div>
              )}
            </span>
          </a>
        )
      }
      {
        !game.url && (
          <span>
            {game.name}
            <span>
              {game.platforms?.length == 1 && (
                <div class="badge badge-accent badge-xs">Exclusive</div>
              )}
            </span>
          </span>
        )
      }
    </h2>
    <div class="flex justify-between">
      <div>
        {
          game.totalRating && (
            <div class="badge badge-primary font-bold">
              {Math.round(game.totalRating)}
            </div>
          )
        }
      </div>
      <div>
        {
          game.firstReleaseDate && (
            <div class="badge badge-ghost badge-xs">
              {formatDate(new Date(game.firstReleaseDate * 1000))}
            </div>
          )
        }
      </div>
    </div>
    <p class="my-6 h-28 overflow-y-auto text-xs">{game.summary}</p>
    <div class="flex flex-col space-y-1">
      <div
        class="flex h-12 w-full flex-nowrap space-x-2 overflow-x-auto overflow-y-hidden"
      >
        {
          game.genres?.map((genre) => (
            <div class="badge badge-primary badge-sm font-semibold whitespace-nowrap">
              {genre.name}
            </div>
          ))
        }
      </div>
      <div
        class="flex h-12 w-full flex-nowrap space-x-2 overflow-x-auto overflow-y-hidden"
      >
        {
          game.themes?.map((theme) => (
            <div class="badge badge-secondary badge-sm font-semibold whitespace-nowrap">
              {theme.name}
            </div>
          ))
        }
      </div>
      <div class="flex h-8 justify-center space-x-2">
        {
          game.involvedCompanies?.map(
            (company) =>
              company.logo &&
              company.websites.length && (
                <div class="tooltip tooltip-top" data-tip={company.name}>
                  <a
                    href={company.websites[0]}
                    target="_blank"
                    rel="noreferrer"
                  >
                    <img
                      height="24"
                      width="24"
                      class="h-6 rounded-full object-fill"
                      alt={company.name}
                      src={company.logo}
                      loading="lazy"
                    />
                  </a>
                </div>
              )
          )
        }
      </div>
    </div>
    <div class="card-actions justify-end">
      <AddToWishlist
        client:only="vue"
        id={game.slug}
        name={game.name}
        imgSrc={game.cover?.thumb}
        releaseDate={game.firstReleaseDate}
      />
    </div>
  </div>
</div>
