---
import gargoyles from "@src/assets/images/gargoyles.png";
import { gamesCount } from "@src/data/gamesCatalog";
import { lastDeployDate, formatDate } from "@src/lib/utils";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
---

<fieldset class="fieldset relative mx-auto">
  <div class="join">
    <input
      type="search"
      id="search-input"
      name="search-input"
      autocomplete="search"
      placeholder="Focus: ctrl+c | Clear: ctrl+x"
      class="input join-item w-full placeholder:text-xs"
    />
    <button
      class="btn btn-square btn-error join-item uppercase"
      id="clear-button"
    >
      <Icon class="h-6 w-6 stroke-current" name="pixelarticons:close" />
    </button>
    <button
      class="btn btn-square btn-primary join-item uppercase"
      id="search-button"
    >
      <Icon class="h-6 w-6 stroke-current" name="pixelarticons:search" />
    </button>
  </div>
</fieldset>

<div class="mt-12 flex w-full items-center justify-center">
  <div class="hidden overflow-x-auto pb-4 select-none" id="search-results">
  </div>
  <div class="hidden" id="no-results">
    <Image class="h-24 w-auto" src={gargoyles} alt="Nessun risultato" />
    <h4 class="text-center text-lg"><b>Nessun risultato</b></h4>
  </div>
  <div
    class="stats bg-primary text-primary-content cursor-default shadow-sm"
    id="placeholder"
  >
    <div class="stat">
      <div class="stat-title text-primary-content font-semibold">
        Numero di titoli
      </div>
      <div class="stat-value">{gamesCount}</div>
      <div class="stat-desc text-primary-content font-semibold">
        Ultimo aggiornamento {formatDate(lastDeployDate)}
      </div>
    </div>
  </div>
</div>

<script>
  import Config from "@src/config/general.json";
  import { searchOptions } from "@src/lib/fuseHelpers";
  import { delayFunction, toTrimmedAlphanumeric } from "@src/lib/utils";
  import Fuse from "fuse.js";

  const searchInput = document.getElementById(
    "search-input",
  ) as HTMLInputElement;
  const searchButton = document.getElementById(
    "search-button",
  ) as HTMLButtonElement;
  const clearButton = document.getElementById(
    "clear-button",
  ) as HTMLButtonElement;
  const placeholder = document.getElementById("placeholder") as HTMLElement;
  const noResults = document.getElementById("no-results") as HTMLElement;
  const searchResults = document.getElementById(
    "search-results",
  ) as HTMLElement;

  var response = await fetch("/searchindex.json");
  const data = await response.json();
  const fuse = new Fuse(data, searchOptions);

  const search = async () => {
    var query = toTrimmedAlphanumeric(searchInput.value);
    if (query.length > 2) {
      noResults.classList.add("hidden");
      const res = fuse.search(query);
      var html = "";
      if (res.length) {
        html = res
          .map(
            (item) => 
              `<a href="/nintendo-switch/${getPageNumberByRef(item.refIndex)}#${item.item.slug}">
                  <div class="m-1 whitespace-nowrap badge badge-lg badge-primary font-semibold badge-outline">${item.item.name}</div>    
              </a>`
          )
          .join("");
      } else {
        noResults.classList.remove("hidden");
      }
      placeholder.classList.add("hidden");
      searchResults.classList.remove("hidden");
      searchResults.innerHTML = html;
      window.history.replaceState(
        null,
        "",
        "?query=" + encodeURIComponent(query),
      );
    }
  };

  const quickSearch = async (query: string) => {
    const res = fuse.search(query);
    if (res.length) {
      const item = res[0].item as { slug: string };
      let gameUrl = `/nintendo-switch/${getPageNumberByRef(res[0].refIndex)}#${item.slug}`;
      window.location.href = gameUrl;
    }
  };

  const getPageNumberByRef = (ref: number) => {
    return Math.max(Math.ceil(ref / Config.igdb.gamesPerPage), 1);
  };

  const clear = () => {
    searchInput.value = "";
    searchResults.innerHTML = "";
    noResults.classList.add("hidden");
    searchResults.classList.add("hidden");
    placeholder.classList.remove("hidden");
    window.history.replaceState(null, "", window.location.pathname);
  };

  searchInput.onkeyup = delayFunction(search, 300);
  searchButton.onclick = search;
  clearButton.onclick = clear;

  document.addEventListener("keyup", (event) => {
    if (event.ctrlKey && event.key === "c") {
      event.preventDefault();
      searchInput.focus();
    }
  });
  document.addEventListener("keyup", (event) => {
    if (event.ctrlKey && event.key === "x") {
      event.preventDefault();
      clear();
    }
  });

  document.addEventListener("quickSearch", (event) => {
    const detail = (event as CustomEvent<string>).detail;
    if (detail) quickSearch(detail);
  });

  var params = new URL(window.location.href).searchParams;
  var query = params.get("query");
  if (query) {
    searchInput.value = decodeURIComponent(query);
    search();
  } else if (searchInput.value) {
    search();
  }
</script>
