---
import Config from "../site_config.json";

import mascotte from "@assets/images/mascotte.svg";

const titleParts = Config.title.split(" ");
---

<div
    id="heroContainer"
    class="hero min-h-screen relative max-w-none -mt-16"
    style={`background-image: url(images/castelia-city-day.jfif);`}
>
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-left text-neutral-content">
        <div class="max-w-full pl-5 md:pl-0 ">
            <div class="max-w-max md:pt-0">
                <div class="flex flex-col md:flex-row md:justify-start mb-2">
                    <img src={mascotte} class="h-24 md:h-32 mb-2 place-self-start"/>
                    <div class="font-bold -ml-4">
                        {
                            titleParts.length > 1 ?
                            <div class="ml-6 text-4xl md:text-5xl md:mt-4 mb-1">{ titleParts[0] }</div>
                            <div class="text-5xl md:text-6xl ml-1">{ titleParts[1] }</div> :
                            <div class="text-5xl md:text-6xl md:mt-14 ml-4 md:ml-4">{ titleParts[0] }</div>
                        }   
                    </div>
                </div>
                <p class="mb-5 text-2xl font-semibold md:text-center">{Config.subtitle}</p>
            </div>
            <!-- <h1 class="text-5xl font-bold inline mb-2">{Config.title}</h1> -->
            <p class="mb-5">
                {Config.description}
            </p>
            <a href="#contatti" class="btn btn-primary">{Config.cta}</a>
            <a href="#minesweeper" class="mt-2 sm:mt-0 btn btn-secondary">Minesweeper</a>
        </div>
        <div class="tooltip tooltip-right absolute bottom-4 left-4 md:bottom-6 md:left-6 cursor-help" 
            data-tip="Lo sfondo cambia durante la giornata"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                class="w-6 h-6 stroke-current"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 18v-5.25m0 0a6.01 6.01 0 001.5-.189m-1.5.189a6.01 6.01 0 01-1.5-.189m3.75 7.478a12.06 12.06 0 01-4.5 0m3.75 2.383a14.406 14.406 0 01-3 0M14.25 18v-.192c0-.983.658-1.823 1.508-2.316a7.5 7.5 0 10-7.517 0c.85.493 1.509 1.333 1.509 2.316V18"
                ></path>
            </svg>
        </div>
    </div>
</div>

<script>
    const morningBG = "images/castelia-city-morning.jfif";
    const dayBG = "images/castelia-city-day.jfif";
    const eveningBG = "images/castelia-city-evening.jfif";
    const nightBG = "images/castelia-city-night.jfif";

    const container = document.getElementById("heroContainer");
    const currentTime = new Date().getHours();

    if (currentTime >= 6 && currentTime < 12)
        container.style.backgroundImage = `url(${morningBG})`;
    else if (currentTime >= 12 && currentTime < 17)
        container.style.backgroundImage = `url(${dayBG})`;
    else if (currentTime >= 17 && currentTime < 20)
        container.style.backgroundImage = `url(${eveningBG})`;
    else if (currentTime >= 20 || currentTime < 6)
        container.style.backgroundImage = `url(${nightBG})`;
</script>
