---
import UserMenu from "@components/vue/UserMenu.vue";
import ThemeSwitcher from "@components/ThemeSwitcher.astro";
import Config from "@config/general.json";
import mascotte from "@assets/images/mascotte.svg";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

const portfolioLinks = [
  {
    label: "Progetti",
    href: "/#portfolio",
  },
  {
    label: "Campo Minato",
    href: "/electrode-minesweeper",
  },
  {
    label: "Pitch Detection",
    href: "/pitch-detection",
  },
  {
    label: "PixiJS Train",
    href: "/train",
  },
  {
    label: "Catalogo Nintendo Switch",
    href: "/nintendo-switch/1",
  },
  {
    label: "Blog",
    href: "#latest-posts",
  },
];
---

<div
  class="navbar fixed z-50 h-16 bg-base-300/50 font-semibold backdrop-blur-2xl"
>
  <div class="navbar-start">
    <div class="dropdown">
      <label class="btn btn-ghost uppercase lg:hidden" tabindex="0">
        <Icon class="h-5 w-5 stroke-current" name="pixelarticons:menu" />
      </label>
      <ul
        class="menu dropdown-content mt-3 w-52 rounded-box bg-base-300 p-2 shadow"
        tabindex="0"
      >
        <li><a href="/">Home</a></li>
        <li>
          <a href="/#contacts" class="uppercase text-primary">{Config.cta}</a>
        </li>
        <li>
          <a> Portfolio </a>
          <ul class="">
            {
              portfolioLinks.map((link) => (
                <li>
                  <a href={link.href}>{link.label}</a>
                </li>
              ))
            }
          </ul>
        </li>
        <li>
          <a href="/#prices">Prezzi</a>
        </li>
      </ul>
    </div>
    <a href="/" class="btn btn-ghost hidden text-xl normal-case lg:flex">
      <div class="-mr-1 -mt-1 h-6 w-8 overflow-hidden">
        <Image
          class="h-14 w-8 object-cover object-left"
          src={mascotte}
          alt={`${Config.title} | ${Config.subtitle}`}
        />
      </div>
      <span class="">{Config.title}</span>
    </a>
  </div>

  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1 text-base">
      <li>
        <div class="mx-4 my-auto px-0 py-0">
          <a href="/#contacts" class="btn btn-primary btn-sm uppercase"
            >{Config.cta}</a
          >
        </div>
      </li>
      <li class="dropdown">
        <a tabindex="0" class="">
          Portfolio
          <Icon
            class="h-5 w-5 fill-current"
            name="pixelarticons:chevron-down"
          />
        </a>
        <ul
          tabindex="0"
          class="menu dropdown-content mt-px min-w-max rounded-box bg-base-300 text-base"
        >
          {
            portfolioLinks.map((link) => (
              <li>
                <a href={link.href}>{link.label}</a>
              </li>
            ))
          }
        </ul>
      </li>
      <li><a href="/#prices">Prezzi</a></li>
    </ul>
  </div>

  <div class="navbar-end">
    <ThemeSwitcher />
    <UserMenu client:only="vue">
      <Icon class="h-6 w-6 fill-current" name="pixelarticons:user" />
    </UserMenu>
  </div>
</div>
