---
import { Icon } from "astro-icon/components";

export interface Props {
  currentPage: number;
  lastPage: number;
  url: string;
}

const { currentPage, lastPage, size = 5, url } = Astro.props;

const leftOffset = currentPage - Math.floor(size / 2);
const rightOffset = currentPage + Math.floor(size / 2);

var leftEdge = leftOffset > 1 ? leftOffset : 1;
var rightEdge = rightOffset < lastPage ? rightOffset : lastPage;

if (rightEdge - leftEdge < Math.floor(size / 2) * 2) {
  if (leftOffset < 1)
    rightEdge = Math.min(lastPage, rightEdge + -(leftOffset - 1));
  if (rightOffset > lastPage)
    leftEdge = Math.max(1, leftEdge - (rightOffset - lastPage));
}
---

<div class="join">
  {
    leftEdge > 1 && (
      <a class={"btn join-item uppercase md:btn-lg"} href={`${url}/1`}>
        <Icon
          class="h-6 w-6 stroke-current"
          name="pixelarticons:chevron-left"
        />
      </a>
    )
  }

  <!-- {  leftEdge > 1 &&
        <a class={`btn uppercase md:btn-lg hidden md:flex`}
            href={`${url}/${leftEdge - 1}`}
        >
            <svg class="stroke-current w-6 h-6"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
            </svg>
        </a> 
    } -->

  {
    Array.from({ length: rightEdge - leftEdge + 1 }).map((item, index) => (
      <a
        class={`btn join-item uppercase md:btn-lg ${currentPage == leftEdge + index ? "btn-active" : ""}`}
        href={`${url}/${leftEdge + index}`}
      >
        {leftEdge + index}
      </a>
    ))
  }

  <!-- {  rightEdge < lastPage &&
        <a class={`btn uppercase md:btn-lg hidden md:flex`}
            href={`${url}/${rightEdge + 1}`}
        >
            <svg class="stroke-current w-6 h-6"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
            </svg>
        </a> 
    } -->

  {
    rightEdge < lastPage && (
      <a
        class={"btn join-item uppercase md:btn-lg"}
        href={`${url}/${lastPage}`}
      >
        <Icon
          class="h-6 w-6 stroke-current"
          name="pixelarticons:chevron-right"
        />
      </a>
    )
  }
</div>
