---
export interface Props {
	title?: string;
	description?: string;
	ogType?: string;
	ogImage?: string;
	ogImageAlt?: string;
	noindex?: boolean;
}

import "../assets/css/main.css";
import Config from "../site.config";
import { SEO } from "astro-seo";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Modal from "../components/vue/Modal.vue";

const { title = null , description = Config.description, ogType = "website", ogImage = Config.url + "/images/homepreview.png", ogImageAlt = "Website Header", noindex = false } = Astro.props;

const {COOKIEBOT_ID, GOOGLE_SEARCH_CONSOLE_ID, GOOGLE_ANALYTICS_ID, TAWKTO_WIDGET_URL } = import.meta.env;
const canonical = Astro.url.href;
const fullTitle = title ? (ogType == "article" ? title + " | " + Config.title : Config.title + " | " + title ) : Config.title + " | " + Config.description;

const openGraph = {
	basic : {
		title : title ?? Config.title,
		type: ogType,
		image: ogImage,
		url: canonical,
	},
	image: {
		alt: ogImageAlt
	},
};
---

<!DOCTYPE html>
<html lang="it" data-theme="halloween" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<SEO 
			title={fullTitle} 
			description={description} 
			canonical={canonical}
			openGraph={openGraph} 
			noindex={noindex}
		/>

		<link rel="icon" type="image/x-icon" href="/favicon.ico" />

		{
			COOKIEBOT_ID && (
				<script type="text/javascript"
					id="Cookiebot"
					src="https://consent.cookiebot.com/uc.js"
					data-cbid={`${COOKIEBOT_ID}`}
					async
				></script>
			)
		}

		{
			GOOGLE_SEARCH_CONSOLE_ID && (
				<meta name="google-site-verification" content={GOOGLE_SEARCH_CONSOLE_ID}/>
			)
		}

		{
			GOOGLE_ANALYTICS_ID && (
				<script type={`${COOKIEBOT_ID ? 'text/plain' : 'text/javascript'}`}
					async
					src={`https://www.googletagmanager.com/gtag/js?id=${GOOGLE_ANALYTICS_ID}`}
					data-cookieconsent="statistics"
				></script>
				<script  type={`${COOKIEBOT_ID ? 'text/plain' : 'text/javascript'}`}
					data-gaid={GOOGLE_ANALYTICS_ID}
					data-cookieconsent="statistics"
				>
					window.dataLayer = window.dataLayer || [];
					function gtag() {
						dataLayer.push(arguments);
					}
					gtag("js", new Date());

					gtag("config", document.currentScript.dataset.gaid);
				</script>
			)
		}
	</head>
	<body>
		<Navbar />
		<main class="mb-12 font-sans pt-16">
			<slot />
		</main>
		<Footer />

		<Modal client:only="vue"/>

		{
			TAWKTO_WIDGET_URL && (
				<script type={`${COOKIEBOT_ID ? 'text/plain' : 'text/javascript'}`}
					data-cookieconsent="preferences, statistics"
					data-url={TAWKTO_WIDGET_URL}
				>
					var Tawk_API = Tawk_API || {},
						Tawk_LoadStart = new Date();
					(function () {
						var s1 = document.createElement("script"),
							s0 = document.getElementsByTagName("script")[0];
						s1.async = true;
						s1.src = document.currentScript.dataset.url;
						s1.charset = "UTF-8";
						s1.setAttribute("crossorigin", "*");
						s0.parentNode.insertBefore(s1, s0);
					})();
				</script>
			)
		}
	</body>
</html>
