---
import "../assets/css/main.css";
import Config from "../site.config";
import { SEO } from "astro-seo";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Modal from "../components/vue/Modal.vue";

export interface Props {
	title?: string;
	description?: string;
	ogType?: string;
	ogImage?: string;
	ogImageAlt?: string;
	noindex?: boolean;
}

const { title = null , description = Config.description, ogType = "website", ogImage = Config.url + "/images/homepreview.png", ogImageAlt = "Website Header", noindex = false } = Astro.props;

const canonical = Astro.url.href;
const fullTitle = title ? (ogType == "article" ? title + " | " + Config.title : Config.title + " | " + title ) : Config.title + " | " + Config.description;

const openGraph = {
	basic : {
		title : title ?? Config.title,
		type: ogType,
		image: ogImage,
		url: canonical,
	},
	image: {
		alt: ogImageAlt
	},
};
---

<!DOCTYPE html>
<html lang="it" data-theme="halloween" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<SEO 
			title={fullTitle} 
			description={description} 
			canonical={canonical}
			openGraph={openGraph} 
			noindex={noindex}
		/>

		<link rel="icon" type="image/x-icon" href="/favicon.ico" />

		<script
			id="Cookiebot"
			src="https://consent.cookiebot.com/uc.js"
			data-cbid="19b88f49-c060-4e64-b540-e2356b7d55a8"
			type="text/javascript"
			async
		></script>

		<!-- Google tag (gtag.js) -->
		<script src="https://www.googletagmanager.com/gtag/js?id=G-9WYY21B3RR" async></script>
		<script type="text/plain"
			data-cookieconsent="statistics"
		>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "G-9WYY21B3RR");
		</script>
	</head>
	<body>
		<Navbar />
		<main class="mb-12 font-sans">
			<slot />
		</main>
		<Footer />

		<Modal client:only="vue"/>

		<!--Tawk.to Script-->
		<script type="text/plain" data-cookieconsent="preferences, statistics">
			var Tawk_API = Tawk_API || {},
				Tawk_LoadStart = new Date();
			(function () {
				var s1 = document.createElement("script"),
					s0 = document.getElementsByTagName("script")[0];
				s1.async = true;
				s1.src =
					"https://embed.tawk.to/61f70d4fb9e4e21181bca8e9/1fqmgo03f";
				s1.charset = "UTF-8";
				s1.setAttribute("crossorigin", "*");
				s0.parentNode.insertBefore(s1, s0);
			})();
		</script>
	</body>
</html>
