---
export interface Props {
  title?: string;
  description?: string;
  ogType?: string;
  ogImage?: string;
  ogImageAlt?: string;
  noindex?: boolean;
  frontmatter?: Props;
}

import "@fontsource/chakra-petch";
import "@fontsource/vt323";
import "@assets/css/main.css";
import "animate.css";
import Config from "@config/general.json";
import { SEO } from "astro-seo";
import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";
import BaseModal from "@components/vue/BaseModal.vue";
import BackToTop from "@components/BackToTop.astro";
import IubendaCookieSolution from "@components/IubendaCookieSolution.astro";
import TawktoWidget from "@components/TawktoWidget.astro";
import Alert from "@components/Alert.astro";
import RadioMenu from "@components/vue/RadioMenu.vue";
import AuthManager from "@components/AuthManager.astro";
import Zight from "@components/Zight.astro";

const {
  title = null,
  description = Config.description,
  ogType = "website",
  ogImage = Config.url + "/images/sharepreview.png",
  ogImageAlt = "Website Header",
  noindex = false,
} = Astro.props.frontmatter || Astro.props;

const {
  IUBENDA_SITE_ID,
  IUBENDA_POLICY_ID,
  GOOGLE_SEARCH_CONSOLE_ID,
  GOOGLE_ANALYTICS_ID,
  TAWKTO_WIDGET_URL,
} = import.meta.env;

const canonical = Astro.url.href;

const typeOptinScript =
  IUBENDA_POLICY_ID && IUBENDA_SITE_ID ? "text/plain" : "text/javascript";

const fullTitle = title
  ? ogType == "article"
    ? title + " | " + Config.title
    : Config.title + " | " + title
  : Config.title + " | " + Config.motto;

const openGraph = {
  basic: {
    title: title ?? Config.title,
    type: ogType,
    image: ogImage,
    url: canonical,
  },
  image: {
    alt: ogImageAlt,
  },
};
---

<!doctype html>
<html lang="it" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <SEO
      title={fullTitle}
      description={description}
      canonical={canonical}
      openGraph={openGraph}
      noindex={noindex}
    />

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <link
      rel="alternate"
      type="application/rss+xml"
      title={`${Config.title + " | " + Config.motto}`}
      href={`${Config.url}/rss.xml`}
    />

    {
      IUBENDA_SITE_ID && IUBENDA_POLICY_ID && (
        <IubendaCookieSolution
          siteId={IUBENDA_SITE_ID}
          policyId={IUBENDA_POLICY_ID}
        />
      )
    }

    {
      GOOGLE_SEARCH_CONSOLE_ID && (
        <meta
          name="google-site-verification"
          content={GOOGLE_SEARCH_CONSOLE_ID}
        />
      )
    }

    {
      GOOGLE_ANALYTICS_ID && (
        <script
          class="_iub_cs_activate"
          type={typeOptinScript}
          async
          src={`https://www.googletagmanager.com/gtag/js?id=${GOOGLE_ANALYTICS_ID}`}
          data-cookieconsent="statistics"
          data-iub-purposes="4"
        />
      )
    }
    <script data-gaid={GOOGLE_ANALYTICS_ID}>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", document.currentScript.dataset.gaid);
    </script>

    <AuthManager />
  </head>
  <body class="font-sans">
    <Navbar />
    <main class="mb-32 pt-16">
      <Alert />
      <slot />
    </main>
    <Footer />

    <RadioMenu client:only="vue" />

    <BackToTop />

    <BaseModal client:only="vue" />

    {}
    <Zight />

    {
      TAWKTO_WIDGET_URL && (
        <TawktoWidget
          class="_iub_cs_activate-inline"
          type={typeOptinScript}
          data-cookieconsent="preferences, statistics"
          data-iub-purposes="2,4"
          data-widget={TAWKTO_WIDGET_URL}
        />
      )
    }
  </body>
</html>
