---
import Layout from "./Layout.astro";

export interface Props {
	title?: string;
	description?: string;
	ogType?: string;
	ogImage?: string;
    ogImageAlt?: string;
    noindex?: boolean;
}

const { title, description, ogType, ogImage, ogImageAlt, noindex = false } = Astro.props.frontmatter || Astro.props;
---

<Layout 
    title={title}
    description={description}
    ogType={ogType}
    ogImage={ogImage}
    ogImageAlt={ogImageAlt}
    noindex={noindex}
>
    <div class="pt-20 card">
        <div class="card-body px-10 mx-auto prose container lg:max-w-4xl">
            <slot />
        </div>
    </div>
</Layout>

<script>
    const codeTags = [...document.getElementsByTagName('code')];
    codeTags.forEach(code => {
        const aTags = [...code.getElementsByTagName('a')];
        aTags.forEach(a => {
            a.classList.add('link','link-secondary');
        });
    });
</script>
